.infoBox {
  padding: 20px;

font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.3;
color: var(--main);


}

.headTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.addressMileBox {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icon {
  fill: #3470ff;
  margin-right: 8px;
}

/* .address,
.text {
  font-size: 14px;
} */

.price {
  font-size: 20px;
  color: #3470ff;
  margin: 10px 0;
}

.container1 {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
}

.container1,
.container2 {
  margin-bottom: 104px;
}

.title {
font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: var(--main);
margin-bottom: 20px;
}

.conditionList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.condition {
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.3;
color: var(--main);
display: flex;
align-items: center;
list-style: none;
padding: 0;
 
}

.specBox {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.container2,
.accessories,
.functionalities {
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.3;
color: var(--main);
display: flex;
flex-direction: column;
gap: 16px;

}
.accessories {
  margin-bottom: 16px;
}

