.homeWrapper {
  background-image: url("../../assets/Background-desc@1x.webp");
  background-size: cover;  
  background-position: center;  
  /* height: 700px;   */
  width: 100%; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  margin: 0;
  
}

.textWrapper {
  margin-top: 436px;
  margin-bottom: 60px;
  margin-inline: 328px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.homeWrapper h1 {
  margin-bottom: 16px;
}

.homeWrapper p {
  margin-bottom: 40px;
}