.homeWrapper {
  background-image: url("../../assets/images/Background-desc@1x.webp");
  background-size: cover;  
  background-position: center;  
  width: 100%; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  margin: 0;
  }

  h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.textWrapper {
  margin-top: 436px;
  margin-bottom: 60px;
  margin-inline: 328px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}



 .textWrapper p {
  font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 1.3;
text-align: center;
color: var(--white);
  margin-bottom: 40px;
}